    /* Header with logo */
    
    .inner_c {
        width: 1140px;
        margin: 0 auto;
    }
    
    a {
        text-decoration: none;
        color: #333;
    }
    
    .header {
        height: 68px;
        width: 100%;
        border-bottom: 2px solid #e2e2e2;
        /* background-color: gray; */
        /* box shadow */
        box-shadow: 4px 0px 3px 4px rgba(0, 0, 0, 0.4);
        position: relative;
    }
    
    .header .header_c {
        /* background-color: pink; */
        height: 68px;
        line-height: 68px;
        font-size: 18px;
        font-weight: 700;
    }
    
    .header .header_c .logo {
        width: 160px;
        height: 68px;
        line-height: 68px;
        padding: 0 15px;
        float: left;
        /* background-color: orange; */
    }
    /* For SEO, replace the shop name with the logo */
    
    .header .header_c .logo a {
        display: block;
        text-indent: -100em;
        overflow: hidden;
        background-image: url("../images/logo.png");
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .header .header_c .category {
        width: 168px;
        /* background-color: aquamarine; */
        float: left;
        text-align: center;
    }
    
    .header .header_c .category a {
        display: block;
    }
    /* /* .header .header_c .navi {
    float: left;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #333;
}

.header .navi .category .button {
    width: 168px;
    text-align: center;
    background-color: aquamarine;
    float: left;
}

.header .navi .category .button a {
    text-decoration: none;
    color: #333;
    display: table-cell;
} */
    
    .header .header_c .category a span {
        display: inline-block;
        border: 6px solid transparent;
        border-top: 6px solid #333;
        position: relative;
        left: 4px;
        top: 4px;
    }
    
    .header .header_c .category:hover span {
        border-top-color: transparent;
        border-bottom-color: #333;
        top: -3px;
    }
    
    .header .header_c .category:hover {
        background-color: rgba(214, 173, 98, 0.659);
    }
    
    .header .header_c .category .products {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        display: none;
    }
    
    .header .header_c .category:hover .products {
        display: block;
    }
    
    .header .header_c .category .products .inner_menu {
        width: 168px;
        list-style: none;
        padding: 40px 0px;
        float: left;
    }
    
    .header .header_c .category .products .inner_menu a:hover {
        color: rgba(214, 173, 98, 0.659);
    }
    
    .header .header_c .category .products .classitems {
        float: left;
        width: 744px;
        height: 340px;
        padding-top: 20px;
        /* background-color: aliceblue; */
    }
    
    .display_item {
        text-align: center;
        width: 248px;
        height: 280px;
        /* background-color: bisque; */
        float: left;
        position: relative;
    }
    
    .display_item p {
        line-height: 22px;
        font-size: 14px;
    }
    
    .display_item .highlight {
        color: red;
    }
    
    .display_item .top {
        position: relative;
    }
    
    .display_item img {
        width: 80%;
    }
    
    .display_item .button {
        width: 150px;
        height: 50px;
        background-color: rgba(214, 173, 98, 0.659);
        position: absolute;
        left: 49px;
        top: 50%;
        line-height: 50px;
        display: none;
    }
    
    .display_item:hover .button {
        display: block;
    }
    
    .mask {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .display_item:hover .mask {
        display: block;
    }
    /* .header .navi .category:hover .product {
    display: block;
}

.header .navi .category .product {
    width: 100%;
    background-color: gray;
    position: absolute;
    display: none;
}

.header .navi .category .product ul li {
    list-style: none;
    text-align: left;
} */
    /* Head Nav  */
    
    .header .header_c .nav {
        float: left;
    }
    
    .header .header_c .nav li {
        float: left;
        padding: 0px 25px;
    }
    
    .header .header_c .nav li a {
        display: block;
    }
    
    .header .header_c .nav li:hover {
        background-color: rgba(214, 173, 98, 0.659);
    }
    /* Search icon */
    
    .header .header_c .search {
        float: left;
        width: 160px;
        height: 68px;
        /* background-color: antiquewhite; */
        /* background-image: url(../images/img00.png);
    background-repeat: no-repeat;
    background-position: left; */
    }
    
    .header .header_c .search .search_box {
        height: 20px;
    }
    
    .header .header_c .search img {
        widows: 20px;
        height: 20px;
    }
    
    .header .header_c .search input {
        border: none;
        width: 100px;
        border-bottom: 1px solid;
        display: none;
    }
    
    .header .header_c .search:hover input {
        display: inline-block;
    }
    /* .header .header_c .login img {
    display: inline-block;
    width: 22px;
    margin-bottom: -4px;
} */
    
    .header .header_c .login {
        float: right;
    }
    
    .header .header_c .login span {
        padding: 0 10px;
    }
    /* Cart */
    
    .header .header_c .login .cart {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #333;
        background-image: url(../images/0.png);
        background-position: center;
        cursor: pointer;
    }
    
    .header .header_c .login .cart:hover .cart_display {
        display: block;
    }
    
    .header .header_c .login .cart .cart_display {
        position: absolute;
        width: 160px;
        height: 144px;
        background-color: #ededed;
        top: 69px;
        padding: 10px;
        text-align: center;
        display: none;
    }
    
    .header .header_c .login .cart .cart_display .cart_checkout {
        line-height: 44px;
        font-size: 18px;
        background-color: #c78a49;
    }
    
    .header .header_c .login .cart .cart_display .items p span {
        color: red;
    }
    
    .header .header_c .login .cart .cart_display .items p {
        font-size: 14px;
        font-weight: 700;
        line-height: 100px;
    }
    /* ----------------Head End--------------------- */
    /* ----------------Banner Start -------------------*/
    
    .banner {
        height: 380px;
        width: 100%;
        /* background-color: #c78a49; */
        position: relative;
        padding-top: 3px;
        text-align: center;
        z-index: -1;
    }
    
    .banner ul li {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        margin: auto;
    }
    
    .banner ul li a img {
        object-fit: cover;
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .banner .btn {
        position: absolute;
        height: 10px;
        width: 90px;
        bottom: 20px;
        left: 50%;
        margin-left: -45px;
        /* background-color: aqua; */
        text-decoration: none;
        list-style: none;
        text-align: center;
        padding: 0 5px;
        cursor: pointer;
    }
    
    .banner .btn ol {
        list-style: none;
    }
    
    .banner .btn ol li {
        height: 5px;
        width: 20px;
        float: left;
        background-color: rgb(216, 121, 121);
        margin: 5px;
    }
    
    .banner .btn ol li.cur {
        background-color: #080707;
    }
    /* new products */
    .common_title{
        height: 100px;
        /* padding-top: 35px; */
        text-align: center;
    }
    .common_title h3{
        line-height: 50px;
        font-size: 20px;
        font-weight: 700;
    }
    .common_title p {
        font-size: 14px;
        line-height: 20px;
    }
    .new_pro .pro_details {
        height: 300px;
        text-align: center;
        width: 994px;
        margin: 0 auto;
        position: relative;
    }
    .new_pro .pro_details ul li{
        float: left;
    }

    .new_pro .pro_details a{
        position: absolute;
        font-size: 38px;
        top: 20%;
        color: #c3c3c3;
    }

    .new_pro .pro_details a.right{
        right: -30px;
    }
    
    .new_pro .pro_details a.left{
        left: -30px;
    }

    .special_pro .content {
        height: 400px;
        overflow: hidden;
    }
    .content img {
        transition: all 0.4s ease 0s;
    }
    .content .pic:hover img{
        /* 记得加单位 */
        transition: all 0.4s ease 0s;
        transform: scale(1.2);
    }
    .content .left{
        width: 675px;
        float: left;
        overflow:hidden;
        height: 400px;
    }

    .content .right{
        width: 450px;
        float: right;
        overflow: hidden;
        height: 400;
    }
    .content .right .top {
        height: 195px;
        overflow: hidden;
    }
    .content .right .bot{
        overflow: hidden;
        height: 195px;
        margin-top: 10px;
    }
    .content .pic{
        position: relative;
    }
    .content .pic span {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        border: solid #fff 3px;
        transition: all 0.4s ease 0s;
    }
    .content .pic:hover span{
        right: 10px;
        left: 10px;
        bottom: 10px;
        top: 10px;
        transition: all 0.4s ease 0s;
    }
    .qz_common_top{
        overflow: hidden;
    }
    .qz_common_bot{
        overflow: hidden;
    }
    .most_valued .content li {
        overflow: hidden;
        width: 220px;
        height: 310px;
        text-align: center;
        margin-right: 10px;
        float: left;
        position: relative;
        margin-bottom: 10px;
    }
    .pro_item img{
        width: 100%;
    }
    .pro_item span{
        color:red
    }
    .pro_item .btn{
        position: absolute;
        text-align: center;
        width: 150px;
        height: 50px;
        background-color: #c78a49;
        display: inline;
        line-height:50px;
        top: 50%;
        left: 35px;
        color: #fff;
        display: none;
    }
    .pro_item:hover .btn{
        display: block;
    }
    .pro_item:hover .mask{
        display: block;
    }
    .most_valued .content li.last{
        margin-right: 0px;
    }
    